body {
  background-color: #a4c1b8;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #073a2e;
  text-align: center;
  padding: 20px 15px;
  position: relative;
}

h1 {
  color: #ffffff;
}

nav {
  background-color: #a4c1b8;
  text-align: center;
  padding: 10px;
}
nav a {
  color: #e6e6e6;
  text-decoration: none;
  margin: 0 10px;
}

section {
  background-color: #023924;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

.fotodoservidor {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: block;
  margin: 10px auto;
}

.botao {
    padding:10 px 15 px;
    background-color:#81ddb870;
    color: white;
    border-radius: 20px;
}

p {
  text-align: justify;
  margin: 10px;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  color: #ffffff;
}

th, td {
  border: 1px solid #e2e2e2;
  padding: 10px;
  text-align: center;
}

form {
  background-color: #7bb8a7;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #444444;
  color: #5b4848;
}

button {
  background-color: #00adb5;
  color: #01645196;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #073a2e;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.edu {
  margin-left: 780px;
}